# Identification of pairs without repeat
The Pairs class relies on an past_pairs.xlsx file containing all past pairs (copy paste from our Google sheet of pairs)

In [23]:
import datetime
import numpy as np
import pandas as pd
import math
from IPython.display import display, Markdown

from pairs import Pairs

In [31]:
pairs = Pairs()

In [32]:
pairs.init()

## Good basic solution

In [33]:
# generate enough random samples to find a good combination
SAMPLES = 10000

start = datetime.datetime.now()
found = False
for _ in range(SAMPLES):
    draw = np.random.choice(pairs.studArr, pairs.len, replace=False)
    newPairs = set()
    if pairs.len % 2 == 0:
        for i in range(math.floor(pairs.len/2)):
            newPairs.add(frozenset([draw[2*i], draw[2*i+1]]))
    else:
        for i in range(math.floor(pairs.len/2) - 1):
            newPairs.add(frozenset([draw[2*i], draw[2*i+1]]))        
        newPairs.add(frozenset([draw[pairs.len-3], draw[pairs.len-2], draw[pairs.len-1]]))
        
    match_count = pairs.check_new(newPairs)
#     print(match_count)
    if match_count == 0:
        display(Markdown('## Pairing with 0 repeats:'))
        display(pd.DataFrame(newPairs).fillna('').set_index(0))
        found = True
        break
    
if found == False:
    print('no combination w/ 0 repeats found')

print('Elapsed time:',str(datetime.datetime.now() - start))

## Pairing with 0 repeats:

                               1          2
0
Linh Chau             Lea Balido
Egor Bykov           Nina Nguyen
Aaron Lee         Michael Ramsey
Nathan Laird      Simon Bunieski
Jack Vessa            Adam Ricks
Brian Hu              Matt Hwang
Anna Gadiraju    Robert Faltisco
Katerina Schulz        Eric Wang  Elaine Wu

Elapsed time: 0:00:00.072850

## For when we'll need repeats: more weight to pairs found multiple times
## Debugging

In [9]:
pairs.total_pair_loss()

Found one w/ no hits!
Found one w/ no hits!
Pair loss:  0
Level difference loss:  2.97

2.97

In [ ]:
pairs.find_min()

In [20]:
# generate enough random samples to find a good combination
SAMPLES = 2000

start = datetime.datetime.now()
best = {
    'set': set(),
    'loss': math.inf
}

for _ in range(SAMPLES):
    draw = np.random.choice(pairs.studArr, pairs.len, replace=False)
    newPairs = set()
    if pairs.len % 2 == 0:
        for i in range(math.floor(pairs.len/2)):
            newPairs.add(frozenset([draw[2*i], draw[2*i+1]]))
    else:
        for i in range(math.floor(pairs.len/2) - 1):
            newPairs.add(frozenset([draw[2*i], draw[2*i+1]]))        
        newTrio = (frozenset([draw[pairs.len-3], draw[pairs.len-2], draw[pairs.len-1]]))
 
    loss = pairs.total_pair_loss(newPairs)
    
    if best['loss'] > loss:
        best['set'] = newPairs.copy()
        best['loss'] = loss
        print('Lowest loss: {0:.2f}'.format(loss))

display(Markdown('## Final lowest loss: {0:.2f}'.format(best['loss'])))
display(Markdown('## Pairing with lowest loss:'))
best['set'].add(newTrio)
display(pd.DataFrame(best['set']).fillna('').set_index(0))


print('Elapsed time:',str(datetime.datetime.now() - start))

Lowest loss: 360.00
Lowest loss: 250.00
Lowest loss: 160.00
No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Katerina Schulz', 'Elaine Wu'}), frozenset({'Jack Vessa', 'Brian Hu'}), frozenset({'Aaron Lee', 'Robert Faltisco'}), frozenset({'Adam Ricks', 'Lea Balido'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Egor Bykov', 'Michael Ramsey'})}
Lowest loss: 0.00
No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Elaine Wu', 'Matt Hwang'}), frozenset({'Adam Ricks', 'Lea Balido'}), frozenset({'Anna Gadiraju', 'Robert Faltisco'}), frozenset({'Egor Bykov', 'Aaron Lee'}), frozenset({'Jack Vessa', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Nina Nguyen'})}
No pair loss!
{frozenset({'Egor Bykov', 'Michael Ramsey'}), frozenset({'Linh Chau', 'Lea Balido'}), frozenset({'Jack Vessa', 'Eric Wang'}), frozenset({'Nathan Laird', 'Simon Bunieski'}), frozenset({'Aaron Lee', 'Anna Gadiraju'}), frozenset({'Elaine Wu', 'Matt Hwang'}), frozenset({'Brian Hu', 'Nina Nguyen'})}
No pair loss!
{frozenset({'Eric Wang', 'Nathan Laird'}), frozenset({'Elaine Wu', 'Lea Balido'}), frozenset({'Katerina Schulz', 'Linh Chau'}), frozenset({'Jack Vessa', 'Michael Ramsey'}), frozenset({'Anna Gadiraju', 'Adam Ricks'}), frozenset({'Aaron Lee', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Nina Nguyen'})}
No pair loss!
{frozenset({'Brian Hu', 'Lea Balido'}), frozenset({'Katerina Schulz', 'Elaine Wu'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Simon Bunieski', 'Matt Hwang'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Aaron Lee', 'Robert Faltisco'}), frozenset({'Nathan Laird', 'Michael Ramsey'})}
No pair loss!
{frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Aaron Lee', 'Lea Balido'}), frozenset({'Brian Hu', 'Adam Ricks'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Anna Gadiraju', 'Robert Faltisco'}), frozenset({'Jack Vessa', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Michael Ramsey', 'Lea Balido'}), frozenset({'Jack Vessa', 'Brian Hu'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Aaron Lee', 'Anna Gadiraju'})}
No pair loss!
{frozenset({'Eric Wang', 'Simon Bunieski'}), frozenset({'Anna Gadiraju', 'Nathan Laird'}), frozenset({'Elaine Wu', 'Adam Ricks'}), frozenset({'Jack Vessa', 'Robert Faltisco'}), frozenset({'Brian Hu', 'Michael Ramsey'}), frozenset({'Katerina Schulz', 'Lea Balido'}), frozenset({'Egor Bykov', 'Aaron Lee'})}
No pair loss!
{frozenset({'Egor Bykov', 'Brian Hu'}), frozenset({'Anna Gadiraju', 'Nina Nguyen'}), frozenset({'Simon Bunieski', 'Matt Hwang'}), frozenset({'Jack Vessa', 'Lea Balido'}), frozenset({'Aaron Lee', 'Robert Faltisco'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Katerina Schulz', 'Adam Ricks'})}
No pair loss!
{frozenset({'Eric Wang', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Anna Gadiraju'}), frozenset({'Linh Chau', 'Lea Balido'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Nathan Laird', 'Michael Ramsey'}), frozenset({'Elaine Wu', 'Matt Hwang'}), frozenset({'Katerina Schulz', 'Adam Ricks'})}
No pair loss!
{frozenset({'Nathan Laird', 'Lea Balido'}), frozenset({'Brian Hu', 'Anna Gadiraju'}), frozenset({'Jack Vessa', 'Michael Ramsey'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Elaine Wu', 'Nina Nguyen'}), frozenset({'Robert Faltisco', 'Simon Bunieski'}), frozenset({'Egor Bykov', 'Aaron Lee'})}
No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Nathan Laird', 'Lea Balido'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Katerina Schulz', 'Anna Gadiraju'}), frozenset({'Adam Ricks', 'Robert Faltisco'}), frozenset({'Michael Ramsey', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Matt Hwang'})}
No pair loss!
{frozenset({'Brian Hu', 'Aaron Lee'}), frozenset({'Jack Vessa', 'Eric Wang'}), frozenset({'Linh Chau', 'Nina Nguyen'}), frozenset({'Katerina Schulz', 'Anna Gadiraju'}), frozenset({'Adam Ricks', 'Robert Faltisco'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Elaine Wu', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Eric Wang', 'Nathan Laird'}), frozenset({'Simon Bunieski', 'Matt Hwang'}), frozenset({'Jack Vessa', 'Michael Ramsey'}), frozenset({'Adam Ricks', 'Lea Balido'}), frozenset({'Anna Gadiraju', 'Robert Faltisco'}), frozenset({'Egor Bykov', 'Aaron Lee'}), frozenset({'Brian Hu', 'Nina Nguyen'})}
No pair loss!
{frozenset({'Anna Gadiraju', 'Nina Nguyen'}), frozenset({'Eric Wang', 'Aaron Lee'}), frozenset({'Adam Ricks', 'Michael Ramsey'}), frozenset({'Jack Vessa', 'Lea Balido'}), frozenset({'Nathan Laird', 'Simon Bunieski'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Elaine Wu', 'Linh Chau'})}
No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Brian Hu', 'Anna Gadiraju'}), frozenset({'Elaine Wu', 'Lea Balido'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Egor Bykov', 'Adam Ricks'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Aaron Lee', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Linh Chau', 'Lea Balido'}), frozenset({'Brian Hu', 'Matt Hwang'}), frozenset({'Jack Vessa', 'Michael Ramsey'}), frozenset({'Anna Gadiraju', 'Adam Ricks'}), frozenset({'Katerina Schulz', 'Nathan Laird'}), frozenset({'Egor Bykov', 'Aaron Lee'}), frozenset({'Elaine Wu', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Eric Wang', 'Nina Nguyen'}), frozenset({'Brian Hu', 'Lea Balido'}), frozenset({'Aaron Lee', 'Michael Ramsey'}), frozenset({'Katerina Schulz', 'Anna Gadiraju'}), frozenset({'Adam Ricks', 'Robert Faltisco'}), frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Jack Vessa', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Anna Gadiraju', 'Nina Nguyen'}), frozenset({'Adam Ricks', 'Lea Balido'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Michael Ramsey', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Matt Hwang'}), frozenset({'Katerina Schulz', 'Nathan Laird'}), frozenset({'Egor Bykov', 'Aaron Lee'})}
No pair loss!
{frozenset({'Brian Hu', 'Lea Balido'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Elaine Wu', 'Nina Nguyen'}), frozenset({'Egor Bykov', 'Robert Faltisco'}), frozenset({'Michael Ramsey', 'Simon Bunieski'}), frozenset({'Jack Vessa', 'Matt Hwang'}), frozenset({'Linh Chau', 'Nathan Laird'})}
No pair loss!
{frozenset({'Egor Bykov', 'Brian Hu'}), frozenset({'Adam Ricks', 'Michael Ramsey'}), frozenset({'Nathan Laird', 'Simon Bunieski'}), frozenset({'Katerina Schulz', 'Lea Balido'}), frozenset({'Elaine Wu', 'Nina Nguyen'}), frozenset({'Jack Vessa', 'Matt Hwang'}), frozenset({'Aaron Lee', 'Anna Gadiraju'})}
No pair loss!
{frozenset({'Linh Chau', 'Lea Balido'}), frozenset({'Eric Wang', 'Nathan Laird'}), frozenset({'Elaine Wu', 'Nina Nguyen'}), frozenset({'Adam Ricks', 'Robert Faltisco'}), frozenset({'Michael Ramsey', 'Simon Bunieski'}), frozenset({'Egor Bykov', 'Aaron Lee'}), frozenset({'Jack Vessa', 'Matt Hwang'})}
No pair loss!
{frozenset({'Eric Wang', 'Simon Bunieski'}), frozenset({'Nathan Laird', 'Lea Balido'}), frozenset({'Brian Hu', 'Anna Gadiraju'}), frozenset({'Adam Ricks', 'Michael Ramsey'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Egor Bykov', 'Aaron Lee'}), frozenset({'Jack Vessa', 'Matt Hwang'})}
No pair loss!
{frozenset({'Michael Ramsey', 'Lea Balido'}), frozenset({'Jack Vessa', 'Brian Hu'}), frozenset({'Katerina Schulz', 'Nathan Laird'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Robert Faltisco', 'Simon Bunieski'}), frozenset({'Elaine Wu', 'Matt Hwang'}), frozenset({'Egor Bykov', 'Aaron Lee'})}
No pair loss!
{frozenset({'Katerina Schulz', 'Elaine Wu'}), frozenset({'Eric Wang', 'Nathan Laird'}), frozenset({'Anna Gadiraju', 'Nina Nguyen'}), frozenset({'Aaron Lee', 'Lea Balido'}), frozenset({'Brian Hu', 'Adam Ricks'}), frozenset({'Michael Ramsey', 'Simon Bunieski'}), frozenset({'Jack Vessa', 'Matt Hwang'})}
No pair loss!
{frozenset({'Brian Hu', 'Aaron Lee'}), frozenset({'Elaine Wu', 'Lea Balido'}), frozenset({'Katerina Schulz', 'Anna Gadiraju'}), frozenset({'Eric Wang', 'Adam Ricks'}), frozenset({'Nathan Laird', 'Michael Ramsey'}), frozenset({'Egor Bykov', 'Robert Faltisco'}), frozenset({'Jack Vessa', 'Simon Bunieski'})}
No pair loss!
{frozenset({'Eric Wang', 'Nathan Laird'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Simon Bunieski', 'Matt Hwang'}), frozenset({'Aaron Lee', 'Michael Ramsey'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Elaine Wu', 'Linh Chau'}), frozenset({'Anna Gadiraju', 'Adam Ricks'})}
No pair loss!
{frozenset({'Aaron Lee', 'Nina Nguyen'}), frozenset({'Michael Ramsey', 'Lea Balido'}), frozenset({'Jack Vessa', 'Brian Hu'}), frozenset({'Egor Bykov', 'Simon Bunieski'}), frozenset({'Katerina Schulz', 'Linh Chau'}), frozenset({'Elaine Wu', 'Nathan Laird'}), frozenset({'Anna Gadiraju', 'Robert Faltisco'})}

No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Aaron Lee', 'Nina Nguyen'}), frozenset({'Simon Bunieski', 'Matt Hwang'}), frozenset({'Brian Hu', 'Adam Ricks'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Elaine Wu', 'Nathan Laird'}), frozenset({'Egor Bykov', 'Michael Ramsey'})}
No pair loss!
{frozenset({'Eric Wang', 'Linh Chau'}), frozenset({'Aaron Lee', 'Nina Nguyen'}), frozenset({'Jack Vessa', 'Lea Balido'}), frozenset({'Nathan Laird', 'Simon Bunieski'}), frozenset({'Brian Hu', 'Michael Ramsey'}), frozenset({'Katerina Schulz', 'Robert Faltisco'}), frozenset({'Anna Gadiraju', 'Adam Ricks'})}
No pair loss!
{frozenset({'Nathan Laird', 'Lea Balido'}), frozenset({'Linh Chau', 'Aaron Lee'}), frozenset({'Anna Gadiraju', 'Robert Faltisco'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Katerina Schulz', 'Eric Wang'}), frozenset({'Elaine Wu', 'Matt Hwang'}), frozenset({'Jack Vessa', 'Simon Bunieski'})}

## Final lowest loss: 0.00

## Pairing with lowest loss:

                               1            2
0
Eric Wang              Linh Chau
Aaron Lee        Robert Faltisco
Nathan Laird          Matt Hwang
Elaine Wu        Robert Faltisco  Nina Nguyen
Katerina Schulz        Elaine Wu
Adam Ricks            Lea Balido
Jack Vessa              Brian Hu
Egor Bykov        Michael Ramsey

Elapsed time: 0:00:00.250735

In [77]:
pairs.check_new(verbose=True)

7 pairs found
1 trios found
No exact pair repeat found
No trio repeat found
A pair was found in a trio: {frozenset({'Nathan Laird', 'Robert Faltisco'}), frozenset({'Adam Ricks', 'Nathan Laird'})}

2

## After the new pairing has been approved
Add the new pairing to the past_pairs.csv file

In [52]:
pairs = Pairs()

In [53]:
pairs.init()
pairs.total_pair_loss()

to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
to remove, just a test!
No pair loss!
{frozenset({'Nathan Laird', 'Matt Hwang'}), frozenset({'Egor Bykov', 'Nina Nguyen'}), frozenset({'Katerina Schulz', 'Linh Chau'}), frozenset({'Aaron Lee', 'Robert Faltisco'}), frozenset({'Brian Hu', 'Michael Ramsey'}), frozenset({'Anna Gadiraju', 'Adam Ricks'}), frozenset({'Elaine Wu', 'Simon Bunieski'})}

0

In [ ]:
pairs.init()
print(pairs.studArr.shape)

In [ ]:
# generate enough random samples to find a good combination
SAMPLES = 5
start = datetime.datetime.now()
found = False
max_loss = 0
for _ in range(SAMPLES):
    draw = np.random.choice(pairs.studArr, pairs.len, replace=False)
    newPairs = set()
    for i in range(math.floor(pairs.len/2)):
        newPairs.add(frozenset([draw[2*i], draw[2*i+1]]))
    loss = pairs.total_pair_loss(newPairs)
    if loss > max_loss:
        max_loss = loss

print(max_loss)

print('Elapsed time:',str(datetime.datetime.now() - start))

In [49]:
myset = {frozenset({1,2,1,1,1,1}),frozenset({2,3})}
res = pd.DataFrame(myset).fillna('').to_numpy()
# res = np.asarray(myset)
res

array([[2, 3],
       [1, 2]])

In [59]:
from itertools import combinations
trios = set([frozenset((1,2)), frozenset((1,3)), frozenset((2,3))])
set(combinations(trios,2))

{(frozenset({1, 3}), frozenset({2, 3})),
 (frozenset({2, 3}), frozenset({1, 2})),
 (frozenset({1, 3}), frozenset({1, 2}))}

In [71]:
pairs.find_min()

'Pairing with 0 repeats:'

                               1            2
0
Katerina Schulz    Anna Gadiraju
Brian Hu              Lea Balido
Jack Vessa            Adam Ricks
Elaine Wu              Linh Chau
Nathan Laird          Matt Hwang
Eric Wang              Aaron Lee
Egor Bykov        Simon Bunieski
Michael Ramsey   Robert Faltisco  Nina Nguyen

({frozenset({'Brian Hu', 'Lea Balido'}),
  frozenset({'Aaron Lee', 'Eric Wang'}),
  frozenset({'Egor Bykov', 'Simon Bunieski'}),
  frozenset({'Anna Gadiraju', 'Katerina Schulz'}),
  frozenset({'Adam Ricks', 'Jack Vessa'}),
  frozenset({'Elaine Wu', 'Linh Chau'}),
  frozenset({'Matt Hwang', 'Nathan Laird'})},
 {frozenset({'Michael Ramsey', 'Nina Nguyen', 'Robert Faltisco'})})

In [66]:
[1] * 4

[1, 1, 1, 1]

In [75]:
frozenset({'Brian Hu', 'Lea Balido'}) & {'Lea Balido', 'Brian Hu'}

frozenset({'Brian Hu', 'Lea Balido'})

In [82]:
({{1,2}}).count()

TypeError: unhashable type: 'set'

In [83]:
len({1,2})

2

In [86]:
len({frozenset({1,2})})

1

# Object copy on assignment, within for loop

In [98]:
best = {'set': set(), 'loss': math.inf}
for i in range(5):
    newPairs = set()
    newPairs.add(frozenset([str(i),str(i+1)]))
    newPairs.add(frozenset([str(i),str(i-1)]))
    if i == 2:
        best['set'] = newPairs
print(newPairs)
best

{frozenset({'3', '4'}), frozenset({'4', '5'})}

{'set': {frozenset({'2', '3'}), frozenset({'1', '2'})}, 'loss': inf}

In [1]:
s = set()
s

set()